.contentManager {
  background: #edf1f2;
  height: 100vh;
}

.contentWhite {
  background: #fff;
  transform: translateY(10%);
  border-radius: 15px;
  padding: 5%;
  box-shadow: 5px;
}

.customToolTip {
  position: relative;
  z-index: 20;
}

.customToolTip span {
  display: none;
}

.customToolTip:hover {
  z-index: 21;
}

.customToolTip:hover span {
  display: block;
  width: 100px;
  height: 28px;
  line-height: 20px;
  padding: 5px;
  color: #fff;
  background: rgb(179, 179, 179);
  font-size: 12px;
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  top: -30px;
  left: -30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

.customFlex {
  display: flex;
}

.swichContainer {
}
